<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  

    <title>Контакты</title>
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="pricing.css" rel="stylesheet">
	
  </head>

  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Ателье "Ниточка"</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="index.html">Главная</a>
        <a class="p-2 text-dark" href="gallery.html">Порфолио</a>
        <a class="p-2 text-dark" href="price.html">Прейскурант</a>
        <a class="p-2 text-dark" href="contacts.html">Контакты</a>
      </nav>
    
    </div>


<section class="my-5">
<link href="contacts.css" rel="stylesheet">

  <h2 class="h1-responsive font-weight-bold text-center my-5">Наши контакты:</h2>

  <div class="row">
	<ul>
	<td> <span style="font-family:Ubuntu, cursive; Font-size:20px;margin-left:15%">Как до нас добраться? </span></td>
			     	 <li><font size="4" face="Comic Sans MS ">Адрес: ул. Юбилейная, 81А, Тольятти, Самарская обл., 445057</font></li>
					 <td> <span style="font-family:Ubuntu, cursive; Font-size:20px;margin-left:15%">Общественный транспорт: </span></td>
					 <li><font size="4" face="Comic Sans MS ">127,124 ,96, 91, 310 маршрутные автобусы.</font></li>
					<td> <span style="font-family:Ubuntu, cursive; Font-size:20px;margin-left:15%">Контактные данные: </span></td>
					 <li><font size="4" face="Comic Sans MS ">Телефон: +7(8482)35-27-44</font></li>
					 <li><font size="4" face="Comic Sans MS ">Почтовый адрес: knopo4ka@gmail.com</font></li>
			 
			  </ul>

    <div class="col-lg-7">

      <!--Google map-->
      <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2373.163313927965!2d49.28073531581286!3d53.501277980011835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41687bd163d4045b%3A0xe5e363372effefff!2z0YPQuy4g0K7QsdC40LvQtdC50L3QsNGPLCA4MdCQLCDQotC-0LvRjNGP0YLRgtC4LCDQodCw0LzQsNGA0YHQutCw0Y8g0L7QsdC7LiwgNDQ1MDU3!5e0!3m2!1sru!2sru!4v1590594930506!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>  

    </div>


  </div>


</section>


      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
            <small class="d-block mb-3 text-muted">&copy; Sewing Studio 2020</small>
          </div>

        </div>
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <script src="../../../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
